:root {
  --primocolore:#FFD100;  /* giallo/oro */
  --secondocolore:#003366; /* blu istituzionale */
  --terzocolore: #E6E6E6;   /* neutro chiaro */
  --quartocolore: #002244;  /* blu scuro di contrasto */
  --quintocolore: #FFFFFF;  /* bianco */
  /*spessore font*/
  --spessorefont-light: 300;
  --spessorefont-normal: 400;
  --spessorefont-semibold: 500;
  --spessorefont-bold: 700;
}

